# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files
.terraform.lock.hcl

# Ignore .env files which might contain sensitive data
.env

# Ignore plan output files
*.plan

# Ignore any .pem files (SSH keys)
*.pem

# Ignore Mac system files
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore zip file
*.zip
